body{
    background-color: antiquewhite;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #A5EAEC;
} 
nav{
    align-content: center;
    padding: auto;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center
    }
nav ul li {
    margin: 0 15px;

}
nav ul li a{
    text-decoration: none;
    color: #18CFD6;
    font-weight: bold;
}
.product-list{
    display: flex;
    flex-direction: row;
    

}
.product{
    margin: 70px;
    width: 350px;
    background-color: white;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}
main{
    margin: 30px;
}
footer{
    
    align-content: center;
    text-align: center;
    background-color: green;
    margin: 0%;
    height: 50px;
    padding: 0px;
}
img{
    height: 200px;
    width:  220px;
}
.price{
    font-weight: bold; /* Highlight the price */
    color: #28a745; 
    font-size: 20px;

}